<div class="container-fluid">
  <h1 class="mt-4">Quản trị viên</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active">Quản trị viên</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      Danh sách quản trị viên
      <button
        type="button"
        class="btn btn-outline-success"
        data-toggle="modal"
        data-target="#addnew"
      >
        add new +
      </button>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Họ và tên</th>
              <th>CMND</th>
              <th>Username</th>
              <th>Ngày tạo</th>
              <th>Ngày khóa</th>
              <th>Quyền</th>
              <th>Trạng thái</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Trần Thành Nam</td>
              <td>197390158</td>
              <td>ttnam</td>
              <td>10/12/2020</td>
              <td>10/12/2021</td>
              <td>Admin</td>
              <td class="text-success">Hoạt động</td>
              <td>
                <button type="button" class="btn btn-success" disabled>
                  unlock
                </button>
                <button type="button" class="btn btn-danger">Lock</button>
              </td>
            </tr>
            <tr>
              <td>Phan Trần Hùng</td>
              <td>192323233</td>
              <td>pthung</td>
              <td>10/12/2020</td>
              <td>10/12/2021</td>
              <td>Admin</td>
              <td class="text-success">Hoạt động</td>
              <td>
                <button type="button" class="btn btn-success" disabled>
                  unlock
                </button>
                <button type="button" class="btn btn-danger">Lock</button>
              </td>
            </tr>
            <tr>
              <td>Đỗ Phước Thiện</td>
              <td>237390158</td>
              <td>dpthien</td>
              <td>14/1/2020</td>
              <td>14/1/2021</td>
              <td>Admin</td>
              <td class="text-success">Hoạt động</td>
              <td>
                <button type="button" class="btn btn-success" disabled>
                  unlock
                </button>
                <button type="button" class="btn btn-danger">Lock</button>
              </td>
            </tr>
            <tr>
              <td>Phan Tấn Tĩnh</td>
              <td>232354544</td>
              <td>pttinh</td>
              <td>14/2/2020</td>
              <td>14/2/2021</td>
              <td>Admin</td>
              <td class="text-success">Hoạt động</td>
              <td>
                <button type="button" class="btn btn-success" disabled>
                  unlock
                </button>
                <button type="button" class="btn btn-danger">Lock</button>
              </td>
            </tr>
            <tr>
              <td>Trần Khánh Dư</td>
              <td>4354545158</td>
              <td>tkdu</td>
              <td>15/10/2020</td>
              <td>15/10/2021</td>
              <td>Admin</td>
              <td class="text-success">Hoạt động</td>
              <td>
                <button type="button" class="btn btn-success" disabled>
                  unlock
                </button>
                <button type="button" class="btn btn-danger">Lock</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="gridSystemModalLabel"
    id="addnew"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Tạo Quản trị viên mới
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form>
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Họ tên"
                  />
                </div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="CMND hoặc căn cước"
                  />
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Username"
                  />
                </div>
                <div class="col">
                  <select class="form-control">
                    <option>Admin</option>
                    <option>Manager</option>
                  </select>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Password"
                  />
                </div>
              </div>
              <br />
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="defaultCheck1"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Đổi mật khẩu khi đăng nhập lần đầu
                </label>
              </div>
            </form>
            <br />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Hủy
          </button>
          <button type="button" class="btn btn-primary">Tạo</button>
        </div>
      </div>
    </div>
  </div>
</div>
