<div class="container-fluid">
  <h1 class="mt-4">Hóa đơn</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active">Bill</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      Danh sách hoá đơn
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Trưởng Phòng</th>
              <th>Khu</th>
              <th>Tầng</th>
              <th>Phòng</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
