<div class="container-fluid">
  <h1 class="mt-4">Hóa đơn</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active">Bill</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      Danh sách hoá đơn
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Trưởng Phòng</th>
              <th>Khu</th>
              <th>Tầng</th>
              <th>Phòng</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>B</td>
              <td>2</td>
              <td>311</td>
              <td class="alert alert-success">
                <strong>Đã nộp</strong>
              </td>
              <td>
                <button type="button" class="btn btn-primary">
                  Xem hoá đơn
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal" >
  <div class="modal-dialog modal-xl" >
    <div class="modal-content">
      <div class="modal-header" style="display: block;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Hóa đơn</h4>
      </div>
      <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-md-4"><h5 class="text-muted">Họ tên người nộp tiền</h5>
          <h6>Trần Thành Nam</h6>
          </div>
          <div class="col-md-8 text-center " ><h5 class="text-muted">Họ tên người thu</h5>
              <h6>Nguyễn thị thủ quỹ</h6></div>
        </div>
        <div class="row">
          <div class="col">Phòng: 311</div>
          
        </div>
        <div class="row">
          <div class="col">Nội dung: Nộp tiền điện nước</div>
         
        </div>
        <div class="row">
          <div class="col-md-3"><h6 class="text-muted">Số điện trước</h6></div>
          <div class="col-md-3"><h6 class="text-muted">Số điện sau</h6></div>
          <div class="col-md-3"><h6 class="text-muted">Số điện đã sử dụng</h6></div>
          <div class="col-md-3"><h6 class="text-muted">Thành tiền</h6></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">35102</div>
          <div class="col-md-3">35211</div>
          <div class="col-md-3">109</div>
          <div class="col-md-3">1,220,000 đồng</div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3"><h6 class="text-muted">Số nước trước</h6></div>
          <div class="col-md-3"><h6 class="text-muted">Số nước sau</h6></div>
          <div class="col-md-3"><h6 class="text-muted">Số nước đã sử dụng</h6></div>
          <div class="col-md-3"><h6 class="text-muted">Thành tiền</h6></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">682010</div>
          <div class="col-md-3">687250</div>
          <div class="col-md-3">240</div>
          <div class="col-md-3">1,320,000 đồng</div>
        </div>
        <hr>
        <div class="row">
          <div class="col">Giá điện &nbsp;:&nbsp; 2,300đ/Số</div>
        </div>
        <div class="row">
          <div class="col">Giá nước &nbsp;:&nbsp;5,400đ/Số</div>
        </div>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" >In hóa đơn</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Xác nhận đã nộp tiền</button>
      </div>
      </div>
    </div>
  </div>
</div>