<div class="layout-content">
  <div class="container-fuild">
    <div class="flex-line">
      <div class="d-inline-flex">
        <div class="flex-item border border-secondary rounded">
          <div class="box">
            <span class="title"> 106 </span>
            <div class="box-content">
              <span>Số lượng: 6/8</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
