<div class="container-fluid">
  <h1 class="mt-4">Phản hồi</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active">Student feedback</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      Phản hồi
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>E-mail</th>
              <th>Message</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>ttnam@gmail.com</td>
              <td>hello</td>

              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
