<div class="container-fluid">
  <h1 class="mt-4">Danh sách sinh viên</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active">Danh sách</li>
    <li class="breadcrumb-item active">Danh sách sinh viên</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      Danh sách sinh viên nội trú ký túc xá
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Họ và Tên</th>
              <th>MSSV</th>
              <th>Khu</th>
              <th>Tầng</th>
              <th>Phòng</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
