<div class="container-fluid">
  <h1 class="mt-4">Danh sách sinh viên</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active">Danh sách</li>
    <li class="breadcrumb-item active">Danh sách sinh viên</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      Danh sách sinh viên nội trú ký túc xá
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Họ và Tên</th>
              <th>MSSV</th>
              <th>Khu</th>
              <th>Tầng</th>
              <th>Phòng</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT001</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Đặng Tuấn Anh</td>
              <td>17IT002</td>
              <td>A</td>
              <td>3</td>
              <td>311</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Hoàng Đức Anh</td>
              <td>17IT003</td>
              <td>A</td>
              <td>2</td>
              <td>210</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Lưu Trang Anh</td>
              <td>17IT004</td>
              <td>B</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Phạm Hoàng Anh</td>
              <td>17IT005</td>
              <td>B</td>
              <td>4</td>
              <td>410</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Phạm Thị Hiền Anh</td>
              <td>17IT006</td>
              <td>A</td>
              <td>2</td>
              <td>201</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Phạm Khắc Việt An</td>
              <td>17IT007</td>
              <td>A</td>
              <td>2</td>
              <td>203</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Đỗ Hoàng Gia Bảo</td>
              <td>17IT008</td>
              <td>B</td>
              <td>5</td>
              <td>510</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thị Minh Châu</td>
              <td>17IT009</td>
              <td>A</td>
              <td>4</td>
              <td>402</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Tăng Phương Chi</td>
              <td>17IT010</td>
              <td>A</td>
              <td>3</td>
              <td>305</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Phạm Tiến Dũng</td>
              <td>17IT011</td>
              <td>A</td>
              <td>3</td>
              <td>308</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Nguyễn Thái Dương</td>
              <td>17IT012</td>
              <td>B</td>
              <td>5</td>
              <td>513</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần An Dương</td>
              <td>17IT013</td>
              <td>A</td>
              <td>5</td>
              <td>512</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Mạc Trung Đức</td>
              <td>17IT014</td>
              <td>B</td>
              <td>4</td>
              <td>407</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Vũ Hương Giang</td>
              <td>17IT015</td>
              <td>A</td>
              <td>4</td>
              <td>410</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Nguyễn Thị Ngân Hà</td>
              <td>17IT019</td>
              <td>K</td>
              <td>2</td>
              <td>211</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Nguyễn Lê Hiếu</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>309</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Phạm Xuân Hòa</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Khoa Minh Hoàng</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Nguyễn Hữu Hiệp Hoàng</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Nguyễn Mạnh Hùng</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Nguyễn Vũ Gia Hưng</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Tuấn Hưng</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Phạm Gia Minh</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Đỗ Hoàng Mỹ</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Đỗ Quang Ngọ</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Đàm Yến Nhi</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>TĐoàn Hoàng Sơn</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Nguyễn Công Thành</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Bùi Phương Thảo</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <td>Trần Thành Nam</td>
              <td>17IT019</td>
              <td>A</td>
              <td>3</td>
              <td>310</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#myContract"
                >
                  Edit
                </button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="gridSystemModalLabel"
  id="myContract"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h4 class="font-weight-bold">
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM
              </h4>
              <h5 class="font-weight-bold">Độc lập - Tự do - Hạnh phúc</h5>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-12 text-center">
              <h5 class="font-weight-bold">HỢP ĐỒNG NỘI TRÚ KÝ TÚC XÁ</h5>
              <h5 class="font-weight-bold">
                TRƯỜNG ĐẠI HỌC CNTT & TT VIỆT HÀN
              </h5>
            </div>
            <br />
          </div>
          <div class="row">
            <div class="col">
              Căn bộ luật dân sự số: 33/2005/QH11 ngày 14 tháng 6 năm 2005 của
              Quốc hội Nước Cộng hòa Xã hội chủ nghĩa Việt Nam
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Sinh viên: Trần Thành Nam</div>
            <div class="col-md-4">Lớp: 17IT1</div>
          </div>
          <div class="row">
            <div class="col-md-4">MSSV: 17IT019</div>
            <div class="col-md-4">Ngày sinh: 17/05/1997</div>
          </div>
          <div class="row">
            <div class="col-md-4">Số CMND: 197390158</div>
            <div class="col-md-4">Ngày cấp: 06/2016</div>
            <div class="col-md-4">Nơi cấp: CA.Quảng trị</div>
          </div>
          <div class="row">
            <div class="col-md-6">Địa chỉ:</div>
            <div class="col-md-6"></div>
          </div>
          <div class="row">
            <div class="col-md-4">Số điện thoại:00909090909</div>
            <div class="col-md-4">E-mail: ttnam@vku.udn.vn</div>
          </div>
          <div class="row">
            <div class="col-md-4">Phòng: 311</div>
            <div class="col-md-4">Tầng: 3</div>
            <div class="col-md-4">Khu: V</div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">Đại diện bên A</div>
            <div class="col-md-6 text-right">Đại diện bên B</div>
          </div>
          <div class="row">
            <div class="col-md-4">(ký và ghi rõ họ tên)</div>
            <div class="col-md-6 text-right">(ký và ghi rõ họ tên)</div>
          </div>
          <br />
          <br />
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default">In hợp đồng</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Chỉnh sửa
        </button>
      </div>
    </div>
  </div>
</div>
