<div style="margin-bottom: 200px">
  <h2 style="margin-top: 150px; margin-left: 80px">Đăng ký thành công</h2>
  <p style="margin-top: 60px; margin-left: 40px">
    Mời đến ký túc xá vào ngày 2 tháng 6 năm 2020 để nhận phòng
  </p>
  <a href="/" style="margin-top: 150px; margin-left: 40px"
    >Quay trở về trang chủ</a
  >
</div>
<div></div>
