<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading"></div>
        <a class="nav-link" href="/admin/dashboard">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          Dashboard
        </a>

        <a
          class="nav-link collapsed"
          href="#"
          data-toggle="collapse"
          data-target="#collapseLayouts"
          aria-expanded="false"
          aria-controls="collapseLayouts"
        >
          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          Danh sách
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div
          class="collapse"
          id="collapseLayouts"
          aria-labelledby="headingOne"
          data-parent="#sidenavAccordion"
        >
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/admin/students">Sinh viên</a>
            <a class="nav-link" href="/admin/rooms">Phòng</a>
          </nav>
        </div>
        <a class="nav-link" href="/admin/bill">
          <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
          Hoá đơn
        </a>

        <a class="nav-link" href="/admin/student-register">
          <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
          Đăng ký
        </a>
        <a class="nav-link" href="/admin/student-feedback">
          <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
          Liên hệ và phản hồi
        </a>
        <a class="nav-link" href="/admin/administrators">
          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          Quản trị viên
        </a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Login</div>
      Quản trị viên
    </div>
  </nav>
</div>
